= content_tag_for :tr, invoice do
  %td= invoice.client.name
  %td= invoice.hours
  %td.date= invoice.created_at.to_s(:date)
  %td.date= invoice.due_on
  %td.date= invoice.paid_on
  %td= invoice.notes
  %td= invoice.reference_number

  %td.tools
    = link_to 'Show', invoice
    = link_to 'Edit', edit_invoice_path(invoice)
    = link_to 'Destroy', invoice, :confirm => 'Are you sure?', :method => :delete
