%hr

%h2 Hours Report
%table.listing
  %tr
    %th Project
    %th Hours
    -# TODO: move some of this logic to a helper, or better yet, to a model method.
    - sanity_sum = 0
    - @invoice.work_units.collect{ |wu| wu.project if wu.project.clockable }.compact.uniq.each do |proj|
      - hrs = ProjectWorkQuery.new(@invoice.work_units).find_for_project(proj).sum(:hours)
      - sanity_sum += hrs
      %tr
        %td= proj.name
        %td= hrs
    %tr
      %td
        %b Total
      %td
        %b= sanity_sum

%hr

%h2 Work Unit Details
%table.listing
  %tr
    %th Hours
    %th User
    %th Notes
    %th Start Time
    %th
  - @invoice.work_units.each do |wu|
    = content_tag_for(:tr, wu) do
      %td.hours
        %b= wu.hours
      %td= wu.user.login
      %td= wu.notes
      %td.nobr= wu.start_time.try(:to_s, :short_date_and_time)
      %td.tools.nobr= link_to 'Edit', edit_work_unit_path(wu), class: 'actions edit'


