- set_headline "Listing Invoices"

.button-wrap
  = link_to 'New Invoice', new_invoice_path, class: 'button radius'

= tabbed_panel do |tp|
  = tp.add_tab("Unpaid") do
    = will_paginate @unpaid_invoices
    %table.listing
      = render :partial => "invoice_header"
      = render :partial => "invoice", :collection => @unpaid_invoices

  = tp.add_tab("Paid") do
    = will_paginate @paid_invoices
    %table.listing
      = render :partial => "invoice_header"
      = render :partial => "invoice", :collection => @paid_invoices

