- set_headline "New Invoice"

.button-wrap
  = link_to 'Back to List', invoices_path, class: 'button radius'

= page_block "Invoice Parameters" do
  = form_tag new_invoice_path, :method => 'get' do
    = invoice_client_selector
    = submit_tag "Set Parameters"

- if @client
  = render :partial => 'work_units_info_aux'

  = page_block "Create Invoice" do
    = render :partial => "form"

