- set_headline "Invoice for #{@invoice.client.name}"

%h2 Overview
%table.listing
  %tr
    %th Created:
    %td= @invoice.created_at.to_s(:date)
  %tr
    %th Due:
    %td= @invoice.due_on.try(:to_s, :date)
  %tr
    %th Paid:
    %td= @invoice.paid_on.try(:to_s, :date)
  %tr
    %th Total Hours:
    %td= @invoice.work_units.sum(:hours)
  %tr
    %th Reference #:
    %td= @invoice.reference_number
  %tr
    %th Notes
    %td= @invoice.notes


%h2 Hours Report:
%table.listing
  %tr
    %th Project
    %th Hours
    - sanity_sum = 0
    - @invoice.work_units.collect{ |wu| wu.project if wu.project.clockable }.compact.uniq.each do |proj|
      - hrs = @invoice.work_units.for_project(proj).sum(:hours)
      - sanity_sum += hrs
      %tr
        %td= proj.name
        %td= hrs
    %tr
      %td
        %b Total
      %td
        %b= sanity_sum

%hr Work Unit Details:
%table.listing
  - @invoice.work_units.each do |wu|
    = content_tag_for(:tr, wu) do
      %td.nobr
        %b= wu.hours
      %td= wu.user.login
      %td= wu.notes
      %td.nobr= wu.start_time.try(:to_s, :short_date_and_time)

= link_to 'Edit', edit_invoice_path(@invoice)
|
= link_to 'Back', invoices_path
