- set_headline "Invoice for #{@invoice.client.name}"

%h2 Overview
%table.listing
  %tr
    %th Created:
    %td= @invoice.created_at.to_s(:date)
  %tr
    %th Due:
    %td= @invoice.due_on.try(:to_s, :date)
  %tr
    %th Paid:
    %td= @invoice.paid_on.try(:to_s, :date)
  %tr
    %th Total Hours:
    %td= @invoice.work_units.sum(:hours)
  %tr
    %th Reference #:
    %td= @invoice.reference_number
  %tr
    %th Notes
    %td= @invoice.notes

= render :partial => 'invoice_details'

%p
  = link_to 'Print Report', "#", :class => "print-report-button", :"data-print-target" => "print_iframe"


= link_to 'Edit', edit_invoice_path(@invoice)
|
= link_to 'Back', invoices_path

%iframe#print_iframe{:name => "print_iframe", :src => invoice_report_path(@invoice.id)}