- set_headline "Invoice for #{@invoice.client.name}"

.button-wrap
  = link_to 'Edit', edit_invoice_path(@invoice), class: 'button radius'
  = link_to 'Back to List', invoices_path, class: 'button radius'
  = link_to 'View Report', invoice_report_path(@invoice), class: 'button radius'
  = link_to 'Print Report', "#", :class => "print-report-button", :"data-print-target" => "print_iframe", class: 'button radius'

%h2 Overview
%table.listing
  %tr
    %th Created:
    %td= @invoice.created_at.to_s(:date)
  %tr
    %th Due:
    %td= @invoice.due_on.try(:to_s, :date)
  %tr
    %th Paid:
    %td= @invoice.paid_on.try(:to_s, :date)
  %tr
    %th Total Hours:
    %td= @invoice.work_units.sum(:hours)
  %tr
    %th Reference #:
    %td= @invoice.reference_number
  %tr
    %th Notes
    %td= @invoice.notes

%hr

= render :partial => 'invoice_items'

%hr

= render :partial => 'invoice_details'

%iframe#print_iframe{:name => "print_iframe", :src => invoice_report_path(@invoice.id)}
