- set_headline  "Listing Users' Hours"

.button-wrap
  %div.button.radius#all-user-hours-btn
    All
  %div.button.radius#total-user-hours-btn
    Total
  %div.button.radius#billable-user-hours-btn
    Billable
  %div.button.radius#unbillable-user-hours-btn
    Unbillable


-#= form_for :hours_report do |f|
-#  = f.error_messages
-#  = labeled_datepicker_field f, :start_time
-#  = labeled_datepicker_field f, :stop_time

%table.listing
  %tr.week_row
    %td
    - @sundays.each do |sun|
      %td
        %h2= 'Week ending ' + sun
  - @users.each do |u|
    %tr.user_row
      %td
        %h2= u.name
      %td
        %span.billable= WorkUnitQuery.new(u,6,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,6,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,6,'total').hours
      %td
        %span.billable= WorkUnitQuery.new(u,5,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,5,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,5,'total').hours
      %td
        %span.billable= WorkUnitQuery.new(u,4,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,4,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,4,'total').hours
      %td
        %span.billable= WorkUnitQuery.new(u,3,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,3,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,3,'total').hours
      %td
        %span.billable= WorkUnitQuery.new(u,2,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,2,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,2,'total').hours
      %td
        %span.billable= WorkUnitQuery.new(u,1,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,1,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,1,'total').hours