
- set_headline  "Listing Users' Hours"

.button-wrap
  %div.button.radius#all-user-hours-btn
    All
  %div.button.radius#total-user-hours-btn
    Total
  %div.button.radius#billable-user-hours-btn
    Billable
  %div.button.radius#unbillable-user-hours-btn
    Unbillable

= form_tag hours_reports_path do
  %p End Date
  %input.american_date_entry#end-datepicker{:type => "text", :name => "start_date"}
  -#.button-wrap
    -#%div.button.radius
  = submit_tag "Submit", :id => 'datepicker-submit-btn'

%table.listing
  %tr.week_row
    %td
    - @sundays.each do |sun|
      %td
        %h2= 'Week ending ' + sun
  - @users.each do |u|
    %tr.user_row
      %td
        %h2= u.name
      %td
        %span.billable= WorkUnitQuery.new(u,@end_date,6,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,@end_date,6,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,@end_date,6,'total').hours
      %td
        %span.billable= WorkUnitQuery.new(u,@end_date,5,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,@end_date,5,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,@end_date,5,'total').hours
      %td
        %span.billable= WorkUnitQuery.new(u,@end_date,4,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,@end_date,4,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,@end_date,4,'total').hours
      %td
        %span.billable= WorkUnitQuery.new(u,@end_date,3,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,@end_date,3,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,@end_date,3,'total').hours
      %td
        %span.billable= WorkUnitQuery.new(u,@end_date,2,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,@end_date,2,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,@end_date,2,'total').hours
      %td
        %span.billable= WorkUnitQuery.new(u,@end_date,1,'billable').hours
        %br
        %span.unbillable= WorkUnitQuery.new(u,@end_date,1,'unbillable').hours
        %br
        %span.total= WorkUnitQuery.new(u,@end_date,1,'total').hours