- set_headline  "Listing Users' Hours"

.button-wrap
  %div.button.radius#all-user-hours-btn
    All
  %div.button.radius#total-user-hours-btn
    Total
  %div.button.radius#billable-user-hours-btn
    Billable
  %div.button.radius#unbillable-user-hours-btn
    Unbillable


-#= form_for :hours_report do |f|
-#  = f.error_messages
-#  = labeled_datepicker_field f, :start_time
-#  = labeled_datepicker_field f, :stop_time

%table.listing
  %tr.week_row
    %td
    - @sundays.each do |sun|
      %td
        %h2= 'Week ending ' + sun
  - @users.each do |u|
    %tr.user_row
      %td
        %h2= u.name
      %td
        %span.billable= u.billable_hours(6)
        %br
        %span.unbillable= u.unbillable_hours(6)
        %br
        %span.total= u.total_hours(6)
      %td
        %span.billable= u.billable_hours(5)
        %br
        %span.unbillable= u.unbillable_hours(5)
        %br
        %span.total= u.total_hours(5)
      %td
        %span.billable= u.billable_hours(4)
        %br
        %span.unbillable= u.unbillable_hours(4)
        %br
        %span.total= u.total_hours(4)
      %td
        %span.billable= u.billable_hours(3)
        %br
        %span.unbillable= u.unbillable_hours(3)
        %br
        %span.total= u.total_hours(3)
      %td
        %span.billable= u.billable_hours(2)
        %br
        %span.unbillable= u.unbillable_hours(2)
        %br
        %span.total= u.total_hours(2)
      %td
        %span.billable= u.billable_hours(1)
        %br
        %span.unbillable= u.unbillable_hours(1)
        %br
        %span.total= u.total_hours(1)