- set_headline  "Listing Users' Hours"

.button-wrap
  %div.button.radius#all-user-hours-btn
    All
  %div.button.radius#total-user-hours-btn
    Total
  %div.button.radius#billable-user-hours-btn
    Billable
  %div.button.radius#unbillable-user-hours-btn
    Unbillable

= form_tag hours_reports_path do
  %div.input-container
    %p Start Date
    %input.american_date_entry#start-datepicker{:type => "text", :name => "start_date"}
  %div.input-container
    %p End Date
    %input.american_date_entry#end-datepicker{:type => "text", :name => "end_date"}
  = submit_tag "Submit", :id => 'datepicker-submit-btn'

%table.listing
  %tr.week_row
    %td
    - @sundays.each do |sun|
      %td
        %h2= 'Week ending ' + sun
  - @users.each do |u|
    %tr.user_row
      %td
        %h2= u.name
      -#- (1..number_of_weeks_between(@start_date, @end_date)+1).each do |w|
      - @sundays.each do |sunday|
        %td
          %div.billable= WorkUnitQuery.new(u,sunday,'billable').hours
          %div.unbillable= WorkUnitQuery.new(u,sunday,'unbillable').hours
          %div.total= WorkUnitQuery.new(u,sunday,'total').hours