

= error_messages_for :user
= form_for @user do |f|
  = f.labeled_input :name  if @user.new_record?
  = f.labeled_input :login if @user.new_record?
  = f.labeled_input :email
  = f.labeled_input :github_user
  = f.labeled_input :pivotal_name, :comment => "(unneccesary if name = user's full name on pivotal)"
  = f.labeled_input :password
  = f.labeled_input :password_confirmation
  - if current_user.admin?
    = f.labeled_input :inactive do
      = f.check_box :inactive
  = f.unlabeled_submit "Submit"

