

= error_messages_for :user
- form_for @user do |f|
  = f.labeled_input :name  if @user.new_record?
  = f.labeled_input :login if @user.new_record?
  = f.labeled_input :email
  = f.labeled_input :password
  = f.labeled_input :password_confirmation
  = f.unlabeled_submit
