- set_headline "Edit Account"
= tabbed_panel do |tp|
  = tp.add_tab("Info") do
    = render :partial => 'info_form'
  - if @user.user_preferences
    = tp.add_tab("Preferences") do
      = render :partial => 'preferences_form'
  = tp.add_tab("API Token") do
    = render :partial => 'api_form'