-set_headline "User"
%dl.values
  %dt Name
  %dd= @user.name
  %dt Email
  %dd= @user.email
  %dt Login
  %dd= @user.login
  %dt Github User
  %dd= @user.github_user
  %dt Pivotal Name
  %dd= @user.pivotal_name
%ul
  %li=link_to_if_owner_authorized(@user, "Edit", :action => :edit)
  %li=link_to_if_owner_authorized(@user, "List", :action => :index)
  %li=link_to("Dashboard", root_path)
