- cache("annotations_narrow_#{annotations.id}", :skip_digest => true) do
  - token = SecureRandom.hex(8)
  = content_tag(:tr, :id => token, :class => 'annotations') do
    %ul
      %li
        = annotations.time
        = link_to 'Delete', annotation_path(annotations, :delete_id => token), :method => :delete, data: { confirm: "Are you sure?" }, class: 'actions delete'
      %li= annotations.description
