- cache("commit_narrow_#{commit.id}", :skip_digest => true) do
  - token = SecureRandom.hex(8)
  = content_tag(:tr, commit, :id => token, :class => ['narrow']) do
    %td
      %span.nobr= short_name_with_client(commit.project)
    %td
      = truncate(commit.reference_2, :length => 6)
    %td.tools.nobr
      = truncate(commit.description, :length => 25)