- cache("pivotal_narrow_#{pivotal.id}", :skip_digest => true) do
  - token = SecureRandom.hex(8)
  = content_tag(:tr, pivotal, :id => token, :class => ['narrow']) do
    %td
      %span.nobr= short_name_with_client(pivotal.project)
    %td
      = truncate(pivotal.story_id, :length => 10)
    %td.tools.nobr
      = truncate(pivotal.state, :length => 15)
