- cache("pivotal_narrow_#{pivotal.id}", :skip_digest => true) do
  - token = SecureRandom.hex(8)
  = content_tag(:tr, pivotal, :id => token, :class => ['narrow']) do
    %td
      %span.nobr= short_name_with_client(pivotal.project)
    %td
      - Rails.logger.fatal( method(:truncate).source_location )
      - Rails.logger.fatal( method(:truncate).arity )
      - Rails.logger.fatal( pivotal.story_id )
      = truncate(pivotal.story_id.to_s, :length => 10)
    %td.tools.nobr
      = truncate(pivotal.current_state, :length => 15)
