= page_block(nil, :id => "timeclock") do
  - if clocked_in?
    %span#tasktime{ :style => 'display:none;' }= current_work_unit.start_time.strftime('%s')
    = form_for(current_work_unit, :url => clock_out_path, :html => {:method => :delete, :class => :edit_work_unit}) do |f|
      #description
        #project_name= short_name_with_client(current_work_unit.project)
        #billable
          = f.label :billable
          = f.check_box(:billable)
      #task_elapsed -:--:--
      = link_to "(+ show override tools)", '#', :id => 'override_trigger'
      %br
      #overrides
        started:
        = current_work_unit.start_time.to_s(:short_datetime)
        = f.text_field :stop_time, :size => 15, :placeholder => "Stop Time"
        = f.text_field :hours, :size => 15, :placeholder => "Hours"
      = f.button "Clock Out", :type => :submit, :id => 'clock_out_button'

    = form_for(:activities, :url => add_annotation_path, :html => {:method => :create, :id => :annotation_form}) do |g|
      = g.text_area :description, :placeholder => "Annotations", :id => "annotation_input"
      = g.hidden_field :action, :value => "Annotation"
      = g.hidden_field :source, :value => "User"
      = g.hidden_field :user_id, :value => current_user.id
      = g.hidden_field :work_unit_id, :value => current_work_unit.id
      = g.hidden_field :project_id, :value => current_work_unit.project.id

  - else
    .text_content
      %h3 You are not clocked in.
      - if current_user.current_project && current_project.clockable?
        = clock_in_widget(current_user.current_project, nil, :class => :button)
      - else
        %p Please select a clockable project if you wish to clock in.

  = link_to "(+ show manual time entry)", '#', :id => 'manual_entry_trigger'
  %br
  = link_to "(+ close manual time entry)", '#', :id => 'manual_entry_collapse'
