= page_block("Timeclock", :id => "timeclock") do
  - if clocked_in?
    %span#tasktime{ :style => 'display:none;' }= current_work_unit.start_time.strftime('%s')
    #task_elapsed -:--:--
    %table
      %tr
        %th Project:
        %td= short_name_with_client(current_work_unit.project)
      %tr
        %th Started:
        %td= current_work_unit.start_time.to_s(:short_datetime)

    = form_for(current_work_unit, :url => clock_out_path, :html => {:method => :delete, :class => :edit_work_unit}) do |f|
      = f.labeled_input :billable do
        = f.check_box(:billable)
      = f.labeled_input :hours, :size => 15
      = f.labeled_input :stop_time, :size => 15
      = f.labeled_input :notes, :size => 15
      = f.unlabeled_submit "Clock Out"
  - else
    %h3 You are not clocked in.
    - if current_user.current_project && current_project.clockable?
      = clock_in_widget(current_user.current_project)
    - else
      %p Please select a clockable project if you wish to clock in.

