- cache("work_unit_one_line_#{work_unit.id}", :skip_digest => true) do
  - token = SecureRandom.hex(8)

  = work_unit_row_tag(work_unit, token, :one_line) do
    %td= short_name_with_client(work_unit.try(:project))
    %td.numeric= truncate(work_unit.notes, :length => 25, :omission => '...')
    %td.numeric
      = "%.2f" % work_unit.hours
    %td
      %span.nobr= (work_unit.stop_time || work_unit.start_time).to_datetime.to_s(:short_date)
    %td
      = link_to 'Edit', edit_work_unit_path(work_unit), class: 'actions edit'
      = link_to 'Delete', work_unit_path(work_unit, :delete_id => token), :method => :delete, data: { confirm: "Are you sure?" }, class: 'actions delete'

    %td{ :class => work_unit.billable? ? "work_unit_billable" : "", :id => work_unit.billable? ? "work_unit_#{work_unit.id}" : "" }