- cache("work_unit_narrow_#{work_unit.id}", :skip_digest => true) do
  - token = SecureRandom.hex(8)
  = work_unit_row_tag(work_unit, token, :narrow) do
    %td
      %span.work_unit_label.nobr= short_name_with_client(work_unit.project)
    %td.numeric
      = "%.2f" % work_unit.hours
    %td.tools.nobr
      = link_to 'Edit', edit_work_unit_path(work_unit), class: 'actions edit'
      = link_to 'Delete', work_unit_path(work_unit, :delete_id => token), :method => :delete, :data => { :confirm => "Are you sure?"}, class: 'actions delete'
  = work_unit_details_row_tag(token, :hidden) do
    %td{ colspan: 3 }
      %dl
        %dt Project:
        %dd= short_name_with_client(work_unit.project)

        / %dt Notes:
        / %dd= work_unit.notes

        %dt Hours:
        %dd= "%.2f" % work_unit.hours

        %dt Started:
        %dd= work_unit.start_time.to_s(:short_datetime)

        %dt Finished:
        %dd= work_unit.stop_time.to_s(:short_datetime)
