- cache("work_unit_narrow_#{work_unit.id}") do
  - token = SecureRandom.hex(8)
  = work_unit_row_tag(work_unit, token, :narrow) do
    %td
      %span.nobr= short_name_with_client(work_unit.project)
    %td.numeric
      = "%.2f" % work_unit.hours
    %td.tools.nobr
      = link_to 'Edit', edit_work_unit_path(work_unit), class: 'actions edit'
      = link_to 'Delete', work_unit_path(work_unit, :delete_id => token), :method => :delete, :confirm => "Are you sure?", class: 'actions delete'
      = tooltip_for(work_unit, token).html_safe
