-form_for(@client) do |f|
  = f.error_messages
  = labeled_input f, :name
  = labeled_input f, :abbreviation
  = labeled_input f, :billing_email
  = labeled_input f, :address_1
  = labeled_input f, :address_2
  = labeled_input f, :city
  = labeled_input f, :state
  = labeled_input f, :postal
  = labeled_input f, nil, :input => f.submit, :nolabel => true
