-form_for(@client) do |f|
  = f.error_messages
  = f.labeled_input :name
  = f.labeled_input :abbreviation
  = f.labeled_input :billing_email
  = f.labeled_input :address_1
  = f.labeled_input :address_2
  = f.labeled_input :city
  = f.labeled_input :state
  = f.labeled_input :postal
  = f.unlabeled_submit
