- set_headline  "Listing clients"

%table.listing
  %tr
    %th Name
    %th Billing Email
    %th

  - @clients.each do |client|
    %tr  
      %td= client.name
      %td= client.billing_email
      %td
        = link_to_if_authorized('Show', client) {}
        = link_to_if_authorized('Edit', edit_client_path(client)) {}
        = link_to_if_authorized('Destroy', client, :confirm => 'Are you sure?', :method => :delete) {}

= link_to 'New client', new_client_path
