- set_headline  "Listing clients"

%table.listing
  %tr
    %th Name
    %th Billing Email
    %th

  - @clients.each do |client|
    %tr
      %td= client.name
      %td= client.billing_email
      %td
        = link_to_if_admin_authorized('Show', client, class: 'actions show') {}
        = link_to_if_admin_authorized('Edit', edit_client_path(client), class: 'actions edit') {}
        = link_to_if_admin_authorized('Destroy', client, :confirm => 'Are you sure?', :method => :delete, class: 'actions delete') {}

= link_to 'New client', new_client_path
