- set_headline "Client Info: #{@client.name}"

.button-wrap
  = link_to 'Edit', edit_client_path(@client), class: 'button radius'
  = link_to 'Back', clients_path, class: 'button radius'

%p
  %strong Client:
  = @client.name
%p
  %strong Email:
  = @client.billing_email
%p
  %strong Address:
  = @client.address_1
%p= @client.address_2
%p
  %strong City:
  = @client.city
%p
  %strong State:
  = @client.state
%p
  %strong Postal Code:
  = @client.postal

