- cssclass = node.clockable? ? "task" : "category"
- unless node.archived?
  = content_tag_for(:li, node, :class => cssclass) do
    = cache("picker_node_#{node.id}") do
      .project_name
        = depth_indicator(depth)
        = switch_to_project_link(node)
      .tools
        - if node.clockable?
          = clock_in_widget(node, :icon)
  - if defined? children
    = children
