- cssclass = node.clockable? ? "task" : "category"
- unless node.archived?
  = content_tag_for(:tr, node, :class => cssclass) do
    = cache("picker_node_#{node.id}") do
      %td.project_name
        %div
          = depth_indicator(path.length)
          = switch_to_project_link(node)
      %td.tools
        - if node.clockable?
          = clock_in_widget(node, :icon)
  - if defined? children
    = children
