- set_headline "TIMECLOCK"
= render :partial => "shared/timeclock"
= render :partial => 'home/work_unit_form'
= render :partial => "shared/recent_annotations"
= render :partial => 'home/current_project_block'


-content_for :aux do
  = render :partial => "shared/week_summary", :locals => { :this_week_units => current_user.work_units.this_week }
  = render :partial => "shared/recent_work"
  = render :partial => "shared/recent_commits"
  = render :partial => "shared/recent_pivotal_updates"

-content_for :picker do
  = render :partial => "shared/recent_projects"
  = render :partial => "shared/project_picker"
