= form_for(@bill) do |f|
  = f.error_messages

  / = f.hidden_field :user_id, @bill.user.id
  %input#bill_user_id{ :name => "bill[user_id]", :type => "hidden", :value => @bill.user.id }
  = labeled_datepicker_field f, :due_on
  = labeled_datepicker_field f, :paid_on
  = f.labeled_input(:notes) do
    = f.text_area(:notes, :size => '60x4')
  = f.labeled_input(:reference_number) do
    = f.text_field(:reference_number)

  - if @work_units
    %input#work_unit_select_all{ :type => 'button', :value => 'select all' }
    %table#totals.listing
      %tr
        %th Work Units
        %th Hours
      %tr
        %td#work_unit_count
        %td#hours_total

    %table.listing
      = f.fields_for :work_unit_ids do |wu_form|
        - @work_units.each do |wu|
          = content_tag_for(:tr, wu) do
            %td.nobr
              = wu_form.check_box(wu.id, :class => 'work_unit_checkbox')
              = wu_form.label(wu.hours, nil, :class => 'hours')
            %td
              = project_name_with_client(wu.project)
            %td= wu.notes
            %td.nobr= wu.start_time.try(:to_s, :short_date_and_time)
            %td.nobr= wu.stop_time.try(:to_s, :time)

  = f.unlabeled_submit
