- set_headline "New Bill"

.button-wrap
  = link_to 'Back to List', bills_path, class: 'button radius'

= page_block "Bill Parameters" do
  = form_tag new_bill_path, :method => 'get' do
    = bill_user_selector
    = submit_tag "Set Parameters"

- if @user
  = render :partial => 'work_units_info_aux'

  = page_block "Create Bill" do
    = render :partial => "form"
