- set_headline "Bill for #{@bill.user.name}"

.button-wrap
  = link_to 'Edit', edit_bill_path(@bill), class: 'button radius'
  = link_to 'Back to List', bills_path, class: 'button radius'

%h2 Overview
%table.listing
  %tr
    %th Created:
    %td= @bill.created_at.to_s(:date)
  %tr
    %th Due:
    %td= @bill.due_on.try(:to_s, :date)
  %tr
    %th Paid:
    %td= @bill.paid_on.try(:to_s, :date)
  %tr
    %th Total Hours:
    %td= @bill.work_units.sum(:hours)
  %tr
    %th Reference #:
    %td= @bill.reference_number
  %tr
    %th Notes
    %td= @bill.notes

%h2 Hours Report:
%table.listing
  %tr
    %th Project
    %th Hours
    - sanity_sum = 0
    - @bill.work_units.collect{ |wu| wu.project if wu.project.clockable }.uniq.each do |proj|
      - hrs = ProjectWorkQuery.new(@bill.work_units).find_for_project(proj, {:exclusive => true}).sum(:hours)
      - sanity_sum += hrs
      %tr
        %td
          = project_name_with_client(proj)
        %td= hrs
    %tr
      %td
        %b Total
      %td
        %b= sanity_sum

%h2 Work Unit Details:
%table.listing
  - @bill.work_units.order(:start_time => :asc).each do |wu|
    = content_tag_for(:tr, wu) do
      %td.nobr
        %b= wu.hours
      %td
        = project_name_with_client(wu.project)
      %td= wu.notes
      %td.nobr= wu.start_time.try(:to_s, :short_date_and_time)
