- if @project_report.work_units
  %table.listing
    %tr
      %th= "User"
      %th= "Hours"
      %th= "Total $"
    - @project_report.build_user_report.each do |key, fields|
      %tr
        %td= fields[:name].to_s
        %td= number_with_precision(fields[:hours], :precision => 2)
        %td= "$ " + number_with_precision(fields[:cost], :precision => 2)

  %table.listing
    %tr
      %th= "Type"
      %th= "Hours"
      %th= "Total $"
    - @project_report.build_rate_report.each do |key, fields|
      %tr
        %td= fields[:name].to_s
        %td= number_with_precision(fields[:hours], :precision => 2)
        %td= "$ " + number_with_precision(fields[:cost], :precision => 2)

  %table.listing
    %tr
      %th= "Hours"
      %th= "User"
      %th= "Comments"
      %th= "Start Date and Time"
      %th= "End Time"
      %th= "Edit"
    - @project_report.work_units.each do |wu|
      = content_tag_for(:tr, wu) do
        %td.hours
          = label(wu.id, wu.hours, :class => 'hours_count')
        %td= wu.user.login
        %td= wu.notes
        %td.nobr= wu.start_time.try(:to_s, :short_date_and_time)
        %td.nobr= work_unit_stop_time(wu)
        %td.tools.nobr= link_to 'Edit', edit_work_unit_path(wu), class: 'actions edit'