- set_headline "Project Report"

= page_block "Select Project:" do
  = form_tag index_project_report_path, :method => 'get' do
    = project_report_selector
    = submit_tag "Set Project"

- if @project
  = render :partial => 'work_units_info_aux'

  = page_block "Create Project Report" do
    = render :partial => "form"