= form_for(@project) do |f|
  = f.error_messages

  %fieldset.general
    = f.labeled_input(:client_id){ client_selector(f) }
    = f.labeled_input(:parent_id){ parent_project_selector(f) }
    = f.labeled_input :name
    = f.labeled_input :account
    = f.labeled_input :description
    = f.labeled_input :pivotal_id, :text => "Pivotal Project ID", :comment => "(number at the end of URL for project)"

    -#= f.nested_fields_for :repositories, legend: 'Repositories' do |ff|
    -#  .repository-fields
    -#    = ff.labeled_input :url
    -#    = ff.remove_nested_fields_link 'Remove this repository.', class: 'button radius'
    -#= f.add_nested_fields_link :repositories, 'Add another repository.', class: 'button radius'

    = f.fields_for :repositories do |ff|
      = render 'repository_fields', :f => ff
    .links
      = link_to_add_association 'add repository', f, :repositories

    = f.labeled_input(:clockable){ f.check_box(:clockable) }
    = f.labeled_input(:billable){ f.check_box(:billable)  }
    = f.labeled_input(:flat_rate){ f.check_box(:flat_rate) }
    = f.labeled_input(:archived){ f.check_box(:archived) }

  - if @project.new_record? || @project.is_base_project?
    %fieldset.rates.hide-initially
      %legend Rates

      %table
        %thead
          %tr
            %th Name
            %th Amount
            - unless action_name == 'new'
              %th.actions Remove
        %tfoot
          %tr
            %td{ :colspan => action_name == 'new' ? 2 : 3 }
              %a.add-rate{ :href => '#' } Add Rate
        %tbody
          = f.fields_for :rates do |ff|
            %tr
              %td= ff.text_field :name, :class => 'rate-name-field', :placeholder => 'e.g. \'Engineer\''
              %td= ff.text_field :amount, :class => 'rate-amount-field', :placeholder => 'e.g. \'100\''
              - unless action_name == 'new'
                %td.actions
                  - if ff.object.persisted?
                    = ff.check_box :_destroy
                    = ff.label :_destroy, 'Remove'

  = f.unlabeled_submit 'Submit'