= form_for(@project) do |f|
  = f.error_messages

  %fieldset.general
    = f.labeled_input(:client_id){ client_selector(f) }
    = f.labeled_input(:parent_id){ project_parent_selector(f) }
    = f.labeled_input :name
    = f.labeled_input :account
    = f.labeled_input :description
    = f.labeled_input :github_url
    = f.labeled_input :pivotal_id, :text => "Pivotal Project ID", :comment => "(number at the end of URL for project)"
    = f.labeled_input(:clockable){ f.check_box(:clockable) }
    = f.labeled_input(:billable){ f.check_box(:billable)  }
    = f.labeled_input(:flat_rate){ f.check_box(:flat_rate) }
    = f.labeled_input(:archived){ f.check_box(:archived) }

  %fieldset.rates
    %legend Rates

    %table
      %thead
        %tr
          %th Name
          %th Value
      %tfoot
        %tr
          %td{ :colspan => 2 }
            %a.add-rate{ :href => '#' } Add Rate
      %tbody
        = f.fields_for :rates do |ff|
          %tr
            %td= ff.text_field :name, :placeholder => 'e.g. \'Engineer\''
            %td= ff.text_field :value, :placeholder => 'e.g. \'100\''

  = f.unlabeled_submit 'Submit'
