= form_for(@project) do |f|
  = f.error_messages

  = f.labeled_input(:client_id){ client_selector(f) }
  = f.labeled_input(:parent_id){ project_parent_selector(f) }
  = f.labeled_input :name
  = f.labeled_input :account
  = f.labeled_input :description
  = f.labeled_input :github_url
  = f.labeled_input(:clockable){ f.check_box(:clockable) }
  = f.labeled_input(:billable){ f.check_box(:billable)  }
  = f.labeled_input(:flat_rate){ f.check_box(:flat_rate) }
  = f.labeled_input(:archived){ f.check_box(:archived) }
  = f.unlabeled_submit 'Submit'
