= content_tag_for(:tr, node) do
  %td
    = depth_indicator(path.length)
    = "#{node.name}"

  %td= node.client.nil? ? "" : node.client.name
  %td= node.description
  %td
    = link_to_if_authorized 'Show', node
    = link_to_if_authorized 'Edit', edit_project_path(node)
    = link_to_if_authorized 'Destroy', node, :confirm => 'Are you sure?', :method => :delete
