- set_headline "Project Info: #{@project.name}"

.button-wrap
  = link_to 'Edit', edit_project_path(@project), class: 'button radius'
  = link_to 'Back to List', projects_path, class: 'button radius'

.general
  %p
    %strong Name:
    %br
    =h @project.name

  %p
    %strong Account:
    %br
    =h @project.account

  %p
    %strong Description:
    %br
    =h @project.description

  %p
    %strong Github URL:
    %br
    =h @project.github_url

  %p
    %strong Pivotal Project ID:
    %br
    =h @project.pivotal_id

  %p
    = link_to 'Pull Commit History', project_github_pull_path(:project_id => @project), :method => :post
  %p
    = link_to 'Pull Pivotal Stories', project_pivotal_pull_path(:project_id => @project), :method => :post

.rates
  - rates = @project.base_rates
  - if rates.empty?
    %p
      %strong Rates
      %br
      None
  - else
    %table.rates
      %caption Rates
      %thead
        %tr
          %th Name
          %th Amount
          %th Members
      %tbody
        - rates.each do |rate|
          %tr
            %td #{h rate.name}
            %td #{h rate.amount}
            %td
              - if @project.is_base_project?
                = form_for rate, :method => :put, :html => {:class => 'rates-users-container hide-initially'} do |f|
                  = select_tag :users, options_for_rates_users(rate), :multiple => true
                  = f.submit 'Update'
              - else
                = rate.users.map { |user| user.name }.join ', '
