<div id="users">
  <% @users.each_with_index.map do |user, index| %>
    <div id='<%= user.name %>'>
      <%= check_box_tag(id=index, checked = false) %>
      <p style="background-color:<%=COLORS_ARRAY[index % COLORS_ARRAY.length]%>"> <%= user.name  %> </p>
      </div>
      <% end %>
</div>

<div id="calendar"></div>

<%=  javascript_tag do %>
  var sources = [<%  @users.each_with_index do |user, index| %>
                <%= "{
                  url: '/calendar_work_units.json?user_id=#{user.id}',
                  color: '#{COLORS_ARRAY[index % COLORS_ARRAY.length]}',
                  textColor: 'black'
                }".html_safe %>,
            <% end %>
            ];

  $(document).ready(function() {
    $('#calendar').fullCalendar({
          // put your options and callbacks here
          header: {
              left:   'title',
              center: 'agendaWeek,month,today prev,next',
              right:  ''
          },
          defaultView:'agendaWeek',
          eventSources: []
    });
    $('#users').find('input[type="checkbox"]').click(function(){

       var id = parseInt($(this).attr("id"));
       console.log("click happened on checkbox "+id);
       if (!this.checked){
          $('#calendar').fullCalendar( 'removeEventSource', sources[id] );
        } else {
           $('#calendar').fullCalendar( 'addEventSource', sources[id] );
        }
       $('#calendar').fullCalendar('refetchEvents');
    });

  });
<% end %>

