- set_headline "Invoice for #{@invoice.client.name}"

- content_for :header do
  = stylesheet_link_tag "invoice_reports", :media =>'all'

%table.invoice-report
  - @invoice_report.report.each do |date_row|
    %tr.day_row
      %td{:colspan => "3" }
        %h3= date_row.first.to_s
    - date_row.last.report.each do |user_row|
      %tr.user_row
        %th
          %h4= "#{user_row.first}: #{user_row[1]}"
          Notes:
        %th
          Commits:
        %th
          Pivotal Activity:
      %tr.user_work
        %td
          - user_row[2].each do |note|
            = note
            %br
        %td
          - user_row[3].each do |commit|
            = commit
            %br
        %td
          - user_row.last.each do |pivotal|
            = pivotal
            %br
