%nav#nav.top-bar.contain-to-grid(data-topbar)
  %ul.title-area
    %li.name
      %h1= link_to "LOGICAL TIME TRACKER", root_path, :class => 'logo'
    %li.toggle-topbar.menu-icon
      %a{:href => '#'}
        %span Menu

  %section.top-bar-section
    %ul.right
      - if logged_in? and !current_user.admin?
        %li= link_to("Dashboard", root_path)
        %li= link_to(current_user.name, edit_user_path(current_user))
        %li= link_to("Calendar", calendars_path)
        %li= link_to("My Bills", my_bills_path)
        %li= link_to("Logout", logout_path)
      -else !logged_in?
        %li= link_to("Login", login_path)
      - if logged_in? and current_user and current_user.admin?
        %li= link_to("Dashboard", root_path)
        %li= link_to(current_user.name, edit_user_path(current_user))
        %li= link_to("Calendar", calendars_path)
        %li.has-dropdown
          %a{:href => '#'} Reports
          %ul.dropdown
            %li.admin= link_to("Project Reports", new_project_report_path)
            %li.admin= link_to("Hours Reports", hours_reports_path)
            %li.admin= link_to("My Bills", my_bills_path)
        %li.has-dropdown
          %a{:href => '#'} Tools
          %ul.dropdown
            %li.admin= link_to("Users", users_path)
            %li.admin= link_to("Clients", clients_path)
            %li.admin= link_to("Bills", bills_path)
        %li= link_to("Logout", logout_path)
