!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
  //Testing deploy

  %head
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
    %meta{"http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    - if content_for?(:keywords)
      %meta{"name" => "keywords", "content" => yield(:keywords)}
    - if content_for?(:description)
      %meta{"name" => "description", "content" => yield(:description)}

    - if current_project
      %meta{"name" => "current project", "content" => current_project.id}

    %title=  @title ? @title : "LRD Time Tracking System"


    = stylesheet_link_tag 'application', :media=>'all'

    = javascript_include_tag "vendor/custom.modernizr"
    - if Rails.env.production? or Rails.env.staging?
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"
    -else
      = javascript_include_tag "jquery-1.9.1.js"
      = javascript_include_tag "jquery-ui-1.10.2.js"

    = csrf_meta_tag
    = yield :header

  -# TODO: Turn on these admin lines if the site has an admin interface, otherwise delete them.
  -# %body{ :class => admin? ? 'with_admin' : nil }
  -# = render :partial => 'layouts/admin_nav' if admin?
  %body{ :class => body_class }
    - if Rails.env.development? or Rails.env.staging?
      = render :partial => 'layouts/debug'
    #inset
      #wrap
        #header-wrap
          #header
            #logo
              =link_to image_tag('logo.png', :alt => "logo"), root_url
            #message
              - if logged_in?
                %h2.unimportant= "Hello, #{current_user.name} "
              %h1
                %span.unimportant LRD
                Tracking
                %span.unimportant System

          = render :partial => 'layouts/admin_menu'
          = render :partial => 'layouts/nav'

        #content-wrap
          = render :partial => 'layouts/aux'

          - klass = (content_for?(:picker) ? "with_picker" : "without_picker") + " " + (content_for?(:aux) ? "with_aux" : "without_aux")
          #content-column{ :class => klass }

            #content
              = slide_toggle_tag(:h1, content_for(:headline), "content-body", :id => "headline") if content_for?(:headline)
              #content-body
                = render :partial => 'layouts/flash' , :locals => { :flash => flash }
                = yield
    #reference_times{ :style => 'display: none;' }
      %h3 Server time at page render (sec):
      %span#servertime= @server_time_now.strftime('%s')

      %h3 Browser time at page render (sec):
      %span#browsertime
    = javascript_include_tag "application"
